@import "~bootstrap/dist/css/bootstrap.css";
main > .container {
    padding: 86px 15px 0;
}

.footer {
    background-color: #f5f5f5;
}

.footer > .container {
    padding: 0 15px;
}
body {
    background-color: #ffffff;
}
